.header__square-pic {
  animation: rotation 20s linear 0s infinite;
  display: block;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  }