.kaufman__triangle {
  animation: rotation 20s linear 0s infinite;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  background-image: url(kaufman-triangle.svg);
  background-position: top;
  background-size: 877px 877px;
  z-index: 0;
  top: auto;
  }
