.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 16px;
  }
