.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.page__header {
  background-color: #f2f2f2;
  height: 100vh;
  max-height: 756px;
  min-height: 600px;
  position: relative;
  display: flex;
  width: 1600px;
}

.header__logo {
  margin-top: 0;
  text-align: center;
  white-space: nowrap;
  height: 32px;
  width: 228px; 
  position: absolute;
  top: 30px;
  left: 64px;
}
 .header__title {
  flex-direction: column;
  align-self: center;
  margin-left: 64px;
} 
.header__h1 {
  font-weight: 600;
  line-height: 96px;
  font-size: 102px;
  hyphens: auto;
  border: 2px solid red;
  margin-top: 0px;
  width: 751px;
  margin-bottom: 0px;
}
.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
}
.header__subtitle-paragraph {
  hyphens: auto;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
}
.header__link-title {
  text-decoration: none;
}
.header__main-ilustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}
.header__ilustration {
  width: 765px;
  height: 608px;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  display: block;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
} 
.content {
}

.description {
  margin: 0;
  display: flex;
  width: 80%;
  padding-top: 100px;
  min-width: 784px;
}
.description__two-colums {
  min-width: 175px;
}
.descriotion__two-colums-brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.description__h3 {
  margin: 0;
}
.description__main-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.description__main-text-paragrah {
  margin-top: 0
}
/* и элемента с модификатором вида ключ-значение */
/*.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
} */
