p {
  margin: 0;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.page__header {
  background-color: #f2f2f2;
  height: 100vh;
  max-height: 756px;
  min-height: 600px;
  position: relative;
  display: flex;
  width: 1600px;
}

.header__logo {
  margin-top: 0;
  text-align: center;
  white-space: nowrap;
  height: 32px;
  width: 228px;
  position: absolute;
  top: 30px;
  left: 64px;
}
 .header__title {
  flex-direction: column;
  align-self: center;
  margin-left: 64px;
} 
.header__h1 {
  font-weight: 600;
  line-height: 96px;
  font-size: 102px;
  hyphens: auto;
  margin-top: 0px;
  width: 730px;
  margin-bottom: 0px;
}
.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
}
.header__subtitle-paragraph {
  hyphens: auto;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
}
.header__link {
  text-decoration: none;
}
.header__main-ilustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}
.header__ilustration {
  width: 765px;
  height: 608px;
}
.header__square-pic {
  display: block;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
} 
.content {
  display: flex;
  justify-content: center;
} 
.description {
  min-width: 784px;
  width: 80%;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.description__two-colums {
  display: flex;
}
.two-colums-brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.description__link {
  text-decoration: none;
  margin: 0;
  color: #2f80ed;
  width: 175px;
}
.description__main-text {
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.description__main-text-paragraph {
  margin: 0;
  padding-bottom: 30px; }

.span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}
.digits {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.digits__header1 {
  margin: 0;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}
.digits__section-title {
  padding-top: 100px;
  width: 60%;
  text-align: center;
}
.digits__section-subtitle {
  text-align: center;
  width: 60%;
}
.digits__header2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-bottom: 60px;
  margin-top: 20px;
}
.digits__table {
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.digits__table-cell {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.digits__table-heading {
  width: 250px;
  margin-bottom: 60px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
}
.table__text-margin { 
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;
}
.feynman {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
}
.feynman__header1 {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 70px;
  width: 648px;
  text-align: center;
  margin-top: 100px;
}
.feynman__header2 {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
.feynman__title {
  margin: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.feynman__subtitle {
  margin-top: 70px;
  margin: 0;
  z-index: 2;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}
.feynman__image {
  z-index: 1;
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;
  position: relative;
}
.kaufman__header1 {
  margin: 0;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}
.kaufman__section-title_theme_dark {
  padding-top: 90px;
  width: 60%;
  text-align: center;
}
.kaufman__section-subtitle_theme_dark {
  text-align: center;
  width: 60%;
}
.kaufman__triangle {
  top: 0;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  z-index: 0;
}
.kaufman__header2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-bottom: 60px;
  margin-top: 20px;
}
.kaufman__table_theme_dark {
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.kaufman__table-cell_theme_dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.kaufman__table-heading_theme_dark {
  width: 200px;
  margin-bottom: 80px;
}
.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
}
.table__text-margin_theme_dark { 
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;
}
.footer {
  display: flex;
  background-color: #1f1f1f;
  color: white;
  justify-content: center;
  box-sizing: content-box;
  min-height: 350px;
}
.footer__columns-content-copyright {
  display: flex;
  flex-basis: 711px;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.footer__column-heading {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column_content-social {
  display: flex;
  flex-direction: column;
}
.footer__column_content-info {
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__columns {
  margin-bottom: 40px;
  width: 90%;
  padding-top: 60px;
  display: flex;
  min-height: 350px;
  justify-content: space-between;
}
.footer__place_logo {
  margin: 0;
  height: 32px;
  width: 228px;
}
.footer__column-links {
  list-style-type: none;
}
.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__social_icon {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  padding-right: 10px;
}       